//rtl
body {
  text-align: right;
}
header {
  .header__logo {
    width: 300px;
    .header__logo-link {
      .logo-style {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
      }
    }
  }
  .header__top {
    direction: rtl;
  }
  .header__center {
    direction: rtl;
  }
  .header__bottom {
    direction: rtl;
  }
}
.header__user-action-icon {
  direction: ltr;
  li {
    margin: 0px 0px 0px 30px !important;
  }
}
// End Header
.page-breadcrumb {
  direction: rtl;
}

.banner__box {
  direction: rtl;
}
.section-content {
  direction: rtl;
}
.offcanvas__menu-expand::after {
  left: 0;
}
.footer {
  .footer__top {
    .footer__logo-link {
      img {
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
      }
    }
  }
  .footer__nav-title--dash {
    margin-top: 30px;
  }
  .hr-style {
    margin: 20px 0px 10px;
  }
  .footer__list {
    a {
      text-transform: capitalize;
    }
  }
  .footer__logo {
    a {
      img {
        margin: auto 35px;
      }
    }
  }
  .app {
    a {
      display: inline-block;
      height: 50%;
      margin: 10px 1%;
      width: 45%;
      overflow: hidden;
    }
  }
  .footer__copyright-text {
    font-size: 17px;
    text-align: center;
    p {
      margin-top: 70px;
      a {
        text-decoration: none;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
.footer__top {
  direction: rtl;
  text-align: right;
  .footer__address {
    text-align: right;
  }
}
.footer__logo {
  text-align: right;
}
.offcanvas.offcanvas-mobile-menu {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.footer .footer__social-list:last-child {
  margin-right: 15px;
}
.user-set-role li {
  margin-left: 20px;
  margin-right: 0;
}
.user-set-role li a i {
  padding-right: 10px;
  padding-left: 0px;
  font-size: 10px;
}

.hero {
  direction: ltr;
}
.gap__col--30 .slick-list {
  direction: ltr;
}
.product__label {
  right: 10px;
}
.direction-ltr {
  direction: ltr !important;
}

// scroll to top
// scroll-to-top-1
/*
<!-- Start scroll to top -->
<a href="#" class="scroll-to-top" id="scroll-to-top-1">
 <i class="fa fa-chevron-up fa-2x fa-fw"></i>
</a>
<!-- End scroll to top -->
*/
#scroll-to-top-1 {
  background-color: map-get($colors, 333);
  color: #fff;
  display: block;
  padding: 0px 5px 3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// scroll-to-top-2
/*
<!-- Start scroll to top -->     
<a href="#" class="scroll-to-top" id="scroll-to-top-2">       
<i class="fa fa-chevron-circle-up fa-2x fa-fw"></i>
</a>     
<!-- End scroll to top -->
*/
#scroll-to-top-2 {
  background-color: #2b3c4d;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}

// scroll-to-top-3
/*
<!-- Start scroll to top -->
<a href="#" class="scroll-to-top" id="scroll-to-top-3">
  <i class="fa fa-hand-pointer-o fa-fw fa-2x"></i>
</a>
<!-- End scroll to top -->
*/
#scroll-to-top-3 {
  background-color: #007bff;
  color: #fff;
  display: block;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 900000;
  height: 50px;
  line-height: 50px;
  text-align: center;
  @include borderRadius(10px);
  border: 2px solid map-get($colors, 9);
  @include hover {
    color: #fff;
  }
}
